USE [master]
GO
/****** Object:  Database [College]    Script Date: 02.06.2022 13:04:11 ******/
CREATE DATABASE [College]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'College', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\College.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'College_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\College_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [College].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [College]
GO
/****** Object:  Table [dbo].[Discipline]    Script Date: 02.06.2022 13:04:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discipline](
	[ID_Discipline] [int] NOT NULL,
	[Name_Discipline] [nvarchar](255) NULL,
 CONSTRAINT [PK_Discipline] PRIMARY KEY CLUSTERED 
(
	[ID_Discipline] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 02.06.2022 13:04:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[ID_Group] [int] NOT NULL,
	[ID_Speciality] [int] NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[ID_Group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Speciality]    Script Date: 02.06.2022 13:04:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Speciality](
	[ID_Speciality] [int] NOT NULL,
	[Name_Speciality] [nvarchar](255) NULL,
 CONSTRAINT [PK_Speciality] PRIMARY KEY CLUSTERED 
(
	[ID_Speciality] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 02.06.2022 13:04:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID_Student] [int] NOT NULL,
	[LName] [nvarchar](30) NULL,
	[FName] [nvarchar](30) NULL,
	[Patronymic] [nvarchar](30) NULL,
	[ID_Group] [int] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[ID_Student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Study_Plan]    Script Date: 02.06.2022 13:04:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Study_Plan](
	[ID_Group] [int] NOT NULL,
	[ID_Discipline] [int] NOT NULL,
	[Number_Hours] [int] NULL,
 CONSTRAINT [PK_Study_Plan] PRIMARY KEY CLUSTERED 
(
	[ID_Group] ASC,
	[ID_Discipline] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 02.06.2022 13:04:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[ID_Teacher] [int] NOT NULL,
	[LName] [nvarchar](30) NULL,
	[FName] [nvarchar](30) NULL,
	[Patronymic] [nvarchar](30) NULL,
	[Salary] [decimal](8, 2) NULL,
	[Work_Experience] [decimal](3, 1) NULL,
	[Birth_Date] [date] NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[ID_Teacher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher_Discipline]    Script Date: 02.06.2022 13:04:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher_Discipline](
	[ID_Teacher] [int] NOT NULL,
	[ID_Discipline] [int] NOT NULL,
 CONSTRAINT [PK_Teacher_Discipline] PRIMARY KEY CLUSTERED 
(
	[ID_Teacher] ASC,
	[ID_Discipline] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Discipline] ([ID_Discipline], [Name_Discipline]) VALUES (301, N'Психология общения')
INSERT [dbo].[Discipline] ([ID_Discipline], [Name_Discipline]) VALUES (302, N'Информационные технологии')
INSERT [dbo].[Discipline] ([ID_Discipline], [Name_Discipline]) VALUES (303, N'Элементы высшей математики')
INSERT [dbo].[Group] ([ID_Group], [ID_Speciality]) VALUES (101, 1)
INSERT [dbo].[Group] ([ID_Group], [ID_Speciality]) VALUES (102, 2)
INSERT [dbo].[Group] ([ID_Group], [ID_Speciality]) VALUES (103, 3)
INSERT [dbo].[Speciality] ([ID_Speciality], [Name_Speciality]) VALUES (1, N'СИС')
INSERT [dbo].[Speciality] ([ID_Speciality], [Name_Speciality]) VALUES (2, N'КСК')
INSERT [dbo].[Speciality] ([ID_Speciality], [Name_Speciality]) VALUES (3, N'ВЕБ')
INSERT [dbo].[Student] ([ID_Student], [LName], [FName], [Patronymic], [ID_Group]) VALUES (201, N'Серпухов', N'Виктор', N'Кузьмич', 101)
INSERT [dbo].[Student] ([ID_Student], [LName], [FName], [Patronymic], [ID_Group]) VALUES (202, N'Батталова', N'Анастасия', N'Юрьевна', 101)
INSERT [dbo].[Student] ([ID_Student], [LName], [FName], [Patronymic], [ID_Group]) VALUES (203, N'Кириллов', N'Валентин', N'Владиславович', 101)
INSERT [dbo].[Study_Plan] ([ID_Group], [ID_Discipline], [Number_Hours]) VALUES (101, 301, 100)
INSERT [dbo].[Study_Plan] ([ID_Group], [ID_Discipline], [Number_Hours]) VALUES (101, 302, 90)
INSERT [dbo].[Study_Plan] ([ID_Group], [ID_Discipline], [Number_Hours]) VALUES (102, 303, 80)
INSERT [dbo].[Teacher] ([ID_Teacher], [LName], [FName], [Patronymic], [Salary], [Work_Experience], [Birth_Date]) VALUES (401, N'Долгова', N'Фарида', N'Рахимовна', CAST(60000.00 AS Decimal(8, 2)), CAST(5.0 AS Decimal(3, 1)), CAST(N'1990-10-23' AS Date))
INSERT [dbo].[Teacher] ([ID_Teacher], [LName], [FName], [Patronymic], [Salary], [Work_Experience], [Birth_Date]) VALUES (402, N'Минина', N'Дарья', N'Дмитриевна', CAST(65000.00 AS Decimal(8, 2)), CAST(10.0 AS Decimal(3, 1)), CAST(N'1980-05-11' AS Date))
INSERT [dbo].[Teacher] ([ID_Teacher], [LName], [FName], [Patronymic], [Salary], [Work_Experience], [Birth_Date]) VALUES (403, N'Ахтамова', N'Елена', N'Арсеньевна', CAST(55000.00 AS Decimal(8, 2)), CAST(15.0 AS Decimal(3, 1)), CAST(N'1995-01-31' AS Date))
INSERT [dbo].[Teacher_Discipline] ([ID_Teacher], [ID_Discipline]) VALUES (401, 301)
INSERT [dbo].[Teacher_Discipline] ([ID_Teacher], [ID_Discipline]) VALUES (401, 302)
INSERT [dbo].[Teacher_Discipline] ([ID_Teacher], [ID_Discipline]) VALUES (401, 303)
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Speciality1] FOREIGN KEY([ID_Speciality])
REFERENCES [dbo].[Speciality] ([ID_Speciality])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Speciality1]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Group1] FOREIGN KEY([ID_Group])
REFERENCES [dbo].[Group] ([ID_Group])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Group1]
GO
ALTER TABLE [dbo].[Study_Plan]  WITH CHECK ADD  CONSTRAINT [FK_Study_Plan_Discipline1] FOREIGN KEY([ID_Discipline])
REFERENCES [dbo].[Discipline] ([ID_Discipline])
GO
ALTER TABLE [dbo].[Study_Plan] CHECK CONSTRAINT [FK_Study_Plan_Discipline1]
GO
ALTER TABLE [dbo].[Study_Plan]  WITH CHECK ADD  CONSTRAINT [FK_Study_Plan_Group] FOREIGN KEY([ID_Group])
REFERENCES [dbo].[Group] ([ID_Group])
GO
ALTER TABLE [dbo].[Study_Plan] CHECK CONSTRAINT [FK_Study_Plan_Group]
GO
ALTER TABLE [dbo].[Teacher_Discipline]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Discipline_Discipline1] FOREIGN KEY([ID_Discipline])
REFERENCES [dbo].[Discipline] ([ID_Discipline])
GO
ALTER TABLE [dbo].[Teacher_Discipline] CHECK CONSTRAINT [FK_Teacher_Discipline_Discipline1]
GO
ALTER TABLE [dbo].[Teacher_Discipline]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Discipline_Teacher] FOREIGN KEY([ID_Teacher])
REFERENCES [dbo].[Teacher] ([ID_Teacher])
GO
ALTER TABLE [dbo].[Teacher_Discipline] CHECK CONSTRAINT [FK_Teacher_Discipline_Teacher]
GO
USE [master]
GO
